<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>PrepAI | Mock Interview</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/interview.css') }}">

</head>

<body>

<div class="container">

<h1>AI Mock Interview 🎤</h1>

<form action="{{ url_for('submit_interview') }}" method="POST">

<div class="question-box">

<h2>Question 1</h2>

<p>Tell me about yourself.</p>

<textarea
name="answer1"
rows="6"
required></textarea>

<br><br>

<h2>Question 2</h2>

<p>Why should we hire you?</p>

<textarea
name="answer2"
rows="6"
required></textarea>

<br><br>

<h2>Question 3</h2>

<p>What are your strengths?</p>

<textarea
name="answer3"
rows="6"
required></textarea>

<br><br>

<button type="submit">
Submit Interview
</button>

</div>

</form>

</div>

</body>
</html>